<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Lista użytkowników</title>

  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 mb-5">
      <table id="example" class="table table-bordered" style="width: 100%">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>PESEL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.firstName}">First Name</td>
          <td th:text="${user.lastName}">Last Name</td>
          <td th:text="${user.pesel}">PESEL</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>